@import url();

:root {
    --primary-color:#3b5998;
    --secundary-color:#00A300;
}

* {
    padding: 0;
    margin: 0;

}

body {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

.form {
    background-color: white; 
    height: 391px 311px;

/* espaçamento ao centro */
margin: 40px;
padding-bottom: 24px;
padding-top: 10px;
margin-top: 80px;
margin-left: 800px;
margin-right: 300px;
}

.links {
    color: #1877f2;
    font-size: 14px;
    font-weight: 500px;
}

.card {
    background-color: white;
    width: 800px;
    min-width: 400px;
}